// Fixed some problem with screen.
//$widescreen: 1366px;

$primary: #1fc8db;

@import "~bulma/bulma.sass";

.card {
  margin-bottom: 10px;
}

.table {
  margin-bottom: 10px;
}

a {
  color: $text;
  text-decoration: underline;
}

.content.is-inverted{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
  a {

  }
}

.page {
  padding: 10px;
}



