@import "mixins";

.no-rounded-borders {
  border-radius: 0;
}

.no-padding {
  padding: 0 !important;
}

.flex-center, .is-flex-centered {
  @include flex-center();
}

.flex-divider {
  flex: 1 0;
}

@mixin square($size) {
  .square-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    flex-basis: #{$size}px;
  }
}

@include square(16);
@include square(32);
@include square(42);

