$colors: (
        create: hsl(120, 80, 65),
        save: hsl(120, 80, 65),
        remove: hsl(0, 80, 65),
);

@each $name, $color in $colors {
  .has-#{$name}-color {
    background-color: $color;
  }
  .large-button.has-#{$name}-color {
    color: $white;
    background-color: $color;
    &:hover {
      background-color: darken($color, 20%);
    }
    &.is-inverted {
      color: $color;
      background-color: $white;
      &:hover {
        background-color: darken($white, 10%);
      }
    }
  }
}

.large-button {
  color: $white;
  cursor: pointer;
  @include flex-center();
  flex: 0 0;
}